.add-resort form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-resort form input, textarea{
    width: 100%;
    margin-bottom: 10px;
}

.bg-custom{
    background-image: linear-gradient(55deg,#4f46e5,#818CF8,#8B5CF6);
}